<form #form="ngForm">
    <i class="pi pi-arrow-left cursor-pointer" style="font-size: 2rem;" routerLink="/"></i>
    <div class="grid flex justify-content-center flex-wrap ">
        <div class="col-8 md:col-6 lg:col-3">
            <h6>Informe o Cnpj</h6>
            <p-inputMask type="tel" styleClass="w-full" mask="99.999.999/9999-99" (onBlur)="buscarCNPJ(buscacnpj, form)" minlength="14"
                name="cnpj" [(ngModel)]="buscacnpj" [unmask]="true" [required]="true"></p-inputMask>
        </div>
        <div class="col-4 md:col-6 lg:col-3">
            <h6>&nbsp;</h6>
            <button pButton pRipple type="button" label="Pesquisar" class="p-button-outlined"
                (click)="buscarCNPJ(buscacnpj, form)" [disabled]="form.invalid"></button>
        </div>
    </div>

    <div class="grid flex" *ngIf="buscar">
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Razão Social</h6>
            <input class="w-full" type="text" pInputText ngModel id="razao_social" name="razao_social" disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Nome Fantasia</h6>
            <input class="w-full" type="text" pInputText ngModel id="nome_fantasia" name="nome_fantasia"
                disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Cep</h6>
            <input class="w-full" type="text" pInputText ngModel id="cep" name="cep" disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Logradouro</h6>
            <input class="w-full" type="text" pInputText ngModel id="logradouro" name="logradouro" disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Número</h6>
            <input class="w-full" type="text" pInputText ngModel id="numero" name="numero" disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Complemento</h6>
            <input class="w-full" type="text" pInputText ngModel id="complemento" name="complemento" disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Bairro</h6>
            <input class="w-full" type="text" pInputText ngModel id="bairro" name="bairro" disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Cidade</h6>
            <input class="w-full" type="text" pInputText ngModel id="municipio" name="municipio" disabled="true">
        </div>
        <div class="col-12 md:col-6 lg:col-3">
            <h6>Estado</h6>
            <input class="w-full" type="text" pInputText ngModel id="uf" name="uf" disabled="true">
        </div>
    </div>
</form>